@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../fonts/Poppins-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.otf") format("opentype");
}
