.register-section * {
  color: rgb(31, 31, 31) !important;
  font-size: 18px;
}

.register-section {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.inner-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
}

.form-field {
  margin-top: 1%;
}

.sub-text {
  margin-top: 3%;
}

input {
  background-color: white;
}
input:hover {
  box-shadow: 1px 1px 1px rgb(3, 3, 3);
}
