html * {
  box-sizing: border-box;
  font-family: Poppins-Medium;
  font-size: 15px;
  color: white;
  margin: 0;
  text-decoration: none;
}

body {
  background-image: url(https://frontfinal.s3.amazonaws.com/images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  width: 100%;
}

.about-p {
  font-size: 18px;
  color: #111;
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

/* content css */
h1 {
  text-align: center;
  font-size: 54px;
  color: #111;
  margin-top: 10%;
  margin-bottom: 5%;
}
.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 98%;
  margin-right: 0;
}

.img {
  position: relative;
  width: 50%;
  margin-top: 5%;
  left: 2%;
  bottom: 60%;
  margin-right: 0!important;
  
}

.image {
  display: inline-block;
  width: 90%;
  height: 100%;
  margin-left: 2%;
  margin-right: 0;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(187, 0, 0, 0.425);
  overflow: hidden;
  width: 92%;
  height: 0;
  transition: 0.5s ease;
}

.img:hover .overlay {
  bottom: 0;
  height: 100%;
  margin-right: 0;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
